/* Google Font Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

/* Google Font Inter */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#eeeeff, #c8c7ff);
}
.Chatbot-popup {
  position: relative;
  width: 420px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 128px 0 rgba(0, 0, 0, 0.1), o 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5350c4;
  padding: 15px 22px;
}
.header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chatbot-logo {
  height: 35px;
  width: 35px;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #5350c4;
  flex-shrink: 0;
}
.logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}
#close-chatbot {
  color: #ffff;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 40px;
  width: 40px;
  background: none;
  transition: all linear 0.2s;
  font-size: 1.9rem;
  cursor: pointer;
  padding-top: 2px;
  margin-right: -10px;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#close-chatbot:hover {
  background: #3d39ac;
}

/* chatbody css */
.chat-body {
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-y: auto;
  height: 460px;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #ccccf5 transparent ;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}
.bot-avatar {
  height: 35px;
  width: 35px;
  color: #fff;
  padding: 6px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-bottom: 2px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5350c4;
}

.message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;
  background: #f2f2ff;
}
.chat-body .user-message {
  flex-direction: column;

  align-items: flex-end;
}
.chat-body .bot-message .message-text {
  background: #f2f2ff;
  border-radius: 13px 13px 13px 3px;
  -webkit-border-radius: 13px 13px 13px 3px;
  -moz-border-radius: 13px 13px 13px 3px;
  -ms-border-radius: 13px 13px 13px 3px;
  -o-border-radius: 13px 13px 13px 3px;
}


.chat-body .user-message .message-text {
  color: #fff;
  background: #5350c4;
  border-radius: 13px 13px 3px 13px;
  -webkit-border-radius: 13px 13px 3px 13px;
  -moz-border-radius: 13px 13px 3px 13px;
  -ms-border-radius: 13px 13px 3px 13px;
  -o-border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message .attachment{
  width: 50%;
  margin-top: -7px;
  border-radius: 13px 3px 13px 13px;
  -webkit-border-radius: 13px 3px 13px 13px;
  -moz-border-radius: 13px 3px 13px 13px;
  -ms-border-radius: 13px 3px 13px 13px;
  -o-border-radius: 13px 3px 13px 13px;
}

.chat-body .bot-message .thinking .message-tex {
  padding: 2px 16px;
}

.chat-body .bot-message .thinking-indicator {
  display: flex;
  gap: 4px;
  padding-block: 15px;
}
.chat-body .bot-message .thinking-indicator .dot {
  height: 7px;
  width: 7px;
  background: #6f6bc2;
  opacity: 0.7;
  border-radius: 50%;

  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  animation: dotPulse 1.8s ease-in-out infinite ;
}
.chat-body .bot-message .thinking-indicator .dot :not(1) {
  animation-delay: 0.2s;
}
.chat-body .bot-message .thinking-indicator .dot :not(2) {
  animation-delay: 0.3s;
}
.chat-body .bot-message .thinking-indicator .dot :not(3) {
  animation-delay: 0.4s;
}

@keyframes dotPulse {
  0%,
  44% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }
  44% {
    opacity: 0.2;
  }
}
/* chatbody css */
.chat-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #cccce5;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.chat-footer .chat-form:focus-within{
  outline : 2px solid #5350c4;
}
.chat-form .message-input{
  border: none;
  outline: none;
  height: 47px;
  width: 100%;
  font-size: 0.95rem;
  padding: 14px 0 13px 18px;
  border-radius: inherit;
  resize: none;
}
.chat-form .chat-controls{
  display: flex;
  gap: 3px;
  align-items: center;
  align-self: flex-end;
  height: 47px;
  padding-right: 6px;

}
.chat-form .chat-controls button{
  height: 35px;
  width: 35px;
  border: none;
  cursor: pointer;
  color: #706d80;
  background: none;
  border-radius: 50%;
  font-size: 1.15rem;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.chat-form .chat-controls #Send-message{
  color: #fff;
  background: #5350c4;
  display: none;
}
.chat-form .message-input:valid~.chat-controls #Send-message{
display: block;
}

.chat-form .chat-controls #Send-message:hover{
    background: #3d39ac;
}
.chat-form .chat-controls button:hover{
background: #f1f1ff;
}
.chat-form .file-upload-wrapper{
  height: 35px;
  width: 35px;
  position: relative;
}
.chat-form .file-upload-wrapper img{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.chat-form .file-upload-wrapper .file-uploaded img{
  display: block !important; 
}